<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="Email" value="jarjul0517@gmail.com"/>
      <add key="Password" value="jar05-jul17"/>
      <add key="Subject" value="EmailSender"/>
      <add key="EmailMessage" value="This is a trial email message"/>
      <add key="Attachment" value="D:\Documents\SampleText.docx"/>
    </appSettings>
</configuration>